// Custom Color Overrides

$primary: #29D3A9;    
$secondary: #5f547d; 
$success: #29D3A9;    
$info: #17a2b8;      
$warning: #EBB136;  
$danger: #dc3545;   
$form-control-border-color: #29D3A9; 


$font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 
                         "Segoe UI", Roboto, Ubuntu, Cantarell, 
                         "Noto Sans", sans-serif, Helvetica, Arial, 
                         "Apple Color Emoji", "Segoe UI Emoji", 
                         "Segoe UI Symbol";

$font-family-base: $font-family-sans-serif;

// Import Bootstrap SCSS
@import "../node_modules/bootstrap/scss/bootstrap";