// Custom Color Overrides

$primary: #29D3A9;    // Custom primary color
$secondary: #5f547d;  // Custom secondary color
$success: #29D3A9;    // Custom success color
$info: #17a2b8;       // Custom info color
$warning: #EBB136;    // Custom warning color
$danger: #dc3545;     // Custom danger color

$font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 
                         "Segoe UI", Roboto, Ubuntu, Cantarell, 
                         "Noto Sans", sans-serif, Helvetica, Arial, 
                         "Apple Color Emoji", "Segoe UI Emoji", 
                         "Segoe UI Symbol";

$font-family-base: $font-family-sans-serif;

// Import Bootstrap SCSS
@import "../node_modules/bootstrap/scss/bootstrap";