#root {
  padding: 0;
  display: flex;
  justify-content:center;
  width:100%
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  margin-top: 1em;
}

li:nth-child(odd) { background: #fffaec; }

#reminders-page-container {
  width:100%;
  position: relative
}

#reminders-list-header {
  position: sticky;
  background-color: white;
  border-bottom: solid rgb(130, 130, 130) 1px;
  top: 0;
  z-index: 1000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  height:5vh
}

#reminders-page-container ul {
  display: flex;
}

  .menu-item {
    height: 100%;
  }

#add-new-item-btn {
  margin: 0px;
  color: black;
}

#add-new-item-btn:hover {
  background-color: #fffaec;
  color: black;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#side-panel {
  position: absolute;
  background-color: #fffaec;
  border-left: solid #dee2e6 1px;
  right: 0px;
  top: 30px;
  width: 30%;
  height: 100%;
}