#root {
  background-color: aqua;
  padding: 0;
  padding-top: 10px;
  display: flex;
  width:100%
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-height: 100vh;
  background-color: grey;
  overflow-x: hidden;
}

button {
  margin-top: 1em;
}

li:nth-child(odd) { background: rgb(243, 242, 242); }

#reminders-page-container {
  background-color: rgb(25, 179, 128);
  width:100vh
}

#reminders-list-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #007bff;
  padding: 10px 20px;
}

#reminders-page-container ul {
  display: flex;
}

#reminders-list-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  height: 5%;
  z-index: 1000;}